:root {
  --pi: 3.14159265359;
  --a1: 180deg;
  --a2: 90deg;
  --a3: 90deg;
}

.container {
  width: 200px;
  height: 200px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  position: absolute;
  font-size: 150px;
  font-weight: 800;
  color: yellow;
}

svg {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.circle_animation {
  transform-origin: center center;
  stroke-dasharray: calc(2*var(--pi)*75);
  stroke-dashoffset: calc(2 * var(--pi) * 75);
  stroke-linecap: round;
  transition: 0.5s ease-in-out;
}

.text {
  position: absolute;
}
.sub-text1 {
  font-size: 28px;
  color: #3e6db7
}
.sub-text2 {
  font-size: 20px;
  color: grey
}

/* #donut {
  stroke-dashoffset: calc(2*var(--pi)*75*0.52);
}
#donut2 {
  stroke-dashoffset: calc(2*var(--pi)*75*0.78);
} */
/* #circle {
  stroke-dashoffset: calc(2*var(--pi)*75*0.78);
} */



